{% include 'superadmin/layouts/header.html' %} <!--app-content open-->
 <div class="main-content app-content mt-0">
     <div class="side-app">

         <!-- CONTAINER -->
         <div class="main-container container-fluid">

             <!-- PAGE-HEADER -->
             <div class="page-header">
                 <h1 class="page-title">Dashboard</h1>
                 <div>
                     <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                         <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                     </ol>
                 </div>
             </div>
             <!-- PAGE-HEADER END -->




         </div>
         <!-- CONTAINER END -->


                        <!-- ROW OPEN -->
                        <div class="row row-cards">
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                                <div class="card">
                                    <div class="card-header pb-0 border-bottom-0">
                                        <h3 class="card-title">Total Users</h3>
                                        <div class="card-options">
                                            <a class="btn btn-sm btn-primary" href="#"><i class="fa fa-user mb-0"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0">
                                        <h3 class="d-inline-block mb-2">{{user}}</h3>
                                       
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- COL END -->
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                                <div class="card">
                                    <div class="card-header pb-0 border-bottom-0">
                                        <h3 class="card-title">Courses</h3>
                                        <div class="card-options">
                                            <a class="btn btn-sm btn-success" href="javascript:void(0)"><i class="fa fa-clipboard mb-0"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0">
                                        <h3 class="d-inline-block mb-2">{{course}}</h3>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- COL END -->
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                                <div class="card">
                                    <div class="card-header pb-0 border-bottom-0">
                                        <h3 class="card-title">Registered Users</h3>
                                        <div class="card-options">
                                            <a class="btn btn-sm btn-warning" href="javascript:void(0)"><i class="fa fa-users mb-0"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0">
                                        <h3 class="d-inline-block mb-2">{{register}}</h3>
                                        
                                       
                                    </div>
                                </div>
                            </div>
                            <!-- COL END -->
                           
                        </div>
                        <!-- ROW CLOSED -->
  </div>
    </div>
{% include 'superadmin/layouts/footer.html' %} <!--app-content open-->
