<table
                                    class="table border-top table-bordered mb-0 table-hover  dataTables_wrapper dt-bootstrap5"
                                    id="datatable-basic">
                                    <thead>
                                        <tr>
                                            <th>Sl No</th>
                                            <th>Profile Image</th>
                                            <th>Name </th>

                                            <th>Email ID</th>

                                            <th>Other Details</th>

                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><img class="avatar avatar-md br-7" src="assets/images_ex/user.png"></td>


                                            <td></td>
                                            <td></td>



                                            <td><a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                                    data-bs-target="#smallmodal">
                                                    <i class="side-menu__icon fe fe-eye mx-1"></i>View</a> </td>



                                            

                                            <td>


                                                <a class="btn btn-info btn-sm mb-1" href=""><i
                                                        class="side-menu__icon fe fe-edit"></i></a>

                                                <a class="btn btn-danger btn-sm mb-1" href="#"><i
                                                        class="side-menu__icon fe fe-trash" data-bs-toggle="modal"
                                                        data-bs-target="#modaldemo5"></i></a>

                                            </td>
                                        </tr>

                                    </tbody>
                                </table>