{% include 'superadmin/layouts/header.html' %}

<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Lessons</h1>
                <div>
                   <a class="btn btn-primary" href="{% url 'superadmin:lessioncreate' lessonid %}"><i class="side-menu__icon fe fe-plus mx-1"></i>Add New</a>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- ROW OPEN -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header b-table">
                            <h3 class="card-title">List of All Lessons </h3>
                            <div> 
                                <ol class="breadcrumb mb-0"> <li class="breadcrumb-item"> <a href="course-view.php">course</a> </li> <li class="breadcrumb-item active" aria-current="page">Lessons</li> </ol> 
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">

                               {% include 'superadmin/course/lesson-table.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           

            </div>
            <!-- CONTAINER END -->
        </div>
    </div>
    <!--app-content close-->

    <div class="modal  fade" id="smallmodal" tabindex="-1" role="dialog">
       <div class="modal-dialog modal-xl" role="document">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Videos</h5>
                   <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">×</span>
                       </button>
               </div>
               <div class="modal-body">
                  
               <table class="table border-top table-bordered mb-0" id="datatable-basic">
                                <thead>
                                    <tr>
                                            <th>Video Title</th>
                                             <th>Video Url</th>
                                            
                                           
                                          

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        
                                        <td></td>
                                        <td></td>
                                       
                                      

                                    </tr>

                                </tbody>
                            </table>


                    
               </div>
               <div class="modal-footer">
                   <button class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                  
               </div>
           </div>
       </div>


                   </div>
                   <!-- CONTAINER END -->
               </div>
           </div>
           <!--app-content close-->

   
{% include 'superadmin/layouts/footer.html' %}
