{% load static %}
<div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>

<!-- Start Footer aera -->
    <footer class="rbt-footer footer-style-1">
        <div class="footer-top">
            <div class="container">
                <div class="row row--15 mt_dec--30">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="footer-widget">
                            <div class="logo logo-dark">
                                <a href="index.php">
                                    <img src="{% static 'website/assets/img/logo.png' %}" alt="Edu-cause">
                                </a>
                            </div>
                           

                            <p class="description mt--20">Ayuraksha is a trusted institute dedicated to preserving and promoting authentic Ayurvedic knowledge. We offer certified courses and holistic therapies rooted in ancient healing traditions.
                            </p>

                           
                        </div>
                    </div>

                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="footer-widget">
                            <h5 class="ft-title">Quick Links</h5>
                            <ul class="ft-link">
                                <li>
                                    <a href="privacy-policy.php">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-and-conditions.php">Terms & Conditions</a>
                                </li>
                              
                               
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="footer-widget">
                            <h5 class="ft-title">Quick Links</h5>
                            <ul class="ft-link">
                                <li>
                                    <a href="login.php">Login</a>
                                </li>
                                <li>
                                    <a href="tel:+91 8547 485416">Contact Us</a>
                                </li>
                               
                              
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="footer-widget">
                            <h5 class="ft-title">Get Contact</h5>
                            <ul class="ft-link">
                                <li><span>Phone:</span> <a href="tel:+91 8547 485416">+91 8547 485416</a></li>
                                <li><span>E-mail:</span> <a href="mailto:ayuraksha2021@gmail.com">ayuraksha2021@gmail.com</a></li>
                                <li><span>Location:</span> Kasaragod , Kerala , India</li>
                            </ul>
                            <ul class="social-icon social-default icon-naked justify-content-start mt--20">
                                <li><a href="https://www.facebook.com/">
                                        <i class="feather-facebook"></i>
                                    </a>
                                </li>
                               
                                <li><a href="https://www.instagram.com/">
                                        <i class="feather-instagram"></i>
                                    </a>
                                </li>
                                <li><a href="https://www.linkdin.com/">
                                        <i class="feather-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer aera -->
    <div class="rbt-progress-parent">
        <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script src="{% static 'website/assets/js/vendor/modernizr.min.js' %}"></script>
    <!-- jQuery JS -->
    <script src="{% static 'website/assets/js/vendor/jquery.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'website/assets/js/vendor/bootstrap.min.js' %}"></script>
    <!-- sal.js -->
    <script src="{% static 'website/assets/js/vendor/sal.js' %}"></script>
    <!-- Dark Mode Switcher -->
    <script src="{% static 'website/assets/js/vendor/js.cookie.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/jquery.style.switcher.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/swiper.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/jquery-appear.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/odometer.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/backtotop.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/isotop.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/imageloaded.js' %}"></script>

    <script src="{% static 'website/assets/js/vendor/wow.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/waypoint.min.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/easypie.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/text-type.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/jquery-one-page-nav.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/jquery-ui.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/magnify-popup.min.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/paralax-scroll.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/paralax.min.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/countdown.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/plyr.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/jodit.min.js' %}"></script>
    <script src="{% static 'website/assets/js/vendor/Sortable.min.js' %}"></script>



    <!-- Main JS -->
    <script src="{% static 'website/assets/js/main.js' %}"></script>
   
        <script>
      const allVideoBoxes = document.querySelectorAll('.video-box');

    document.querySelectorAll('.preview-btn').forEach(function (btn) {
        btn.addEventListener('click', function (e) {
            e.preventDefault();
            e.stopPropagation();

            const courseItem = this.closest('.course-item');
            const thisVideoBox = courseItem.querySelector('.video-box');

            // Close other open video boxes
            allVideoBoxes.forEach(function (box) {
                if (box !== thisVideoBox && box.classList.contains('visible')) {
                    box.classList.remove('visible');
                }
            });

            // Toggle the current video box
            thisVideoBox.classList.toggle('visible');
        });
    });
</script>

</body>

</html>