<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ayuraksha | Home</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'website/assets/images/.png' %}">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="{% static 'website/assets/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/vendor/slick.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/vendor/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/plugins/sal.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/plugins/feather.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/plugins/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/plugins/euclid-circulara.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/plugins/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/plugins/odometer.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/plugins/animation.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/plugins/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/plugins/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/plugins/magnigy-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/plugins/plyr.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/plugins/jodit.min.css' %}">

    <link rel="stylesheet" href="{% static 'website/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/custom.css' %}">
</head>

<body class="rbt-header-sticky">

   

    <!-- Start Header Area -->
    <header class="rbt-header rbt-header-3">
        <div class="rbt-sticky-placeholder"></div>
        

        <!-- Start Header Top -->
        <div class="rbt-header-middle position-relative rbt-header-mid-1 header-space-betwween bg-color-white rbt-border-bottom d-none d-xl-block">
            <div class="container-fluid">
                <div class="rbt-header-sec align-items-center ">

                    <div class="rbt-header-sec-col rbt-header-left">
                        <div class="rbt-header-content">
                            <div class="header-info">
                                <div class="logo logo-dark">
                                    <a href="#">
                                        <img src="{% static 'website/assets/img/logo.png' %}" >
                                    </a>
                                </div>

                                <div class="logo d-none logo-light">
                                    <a href="index.php">
                                        <img src="{% static 'website/assets/images/dark/logo/logo-light.png' %}" >
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                      
                   
                    <div class="rbt-header-sec-col rbt-header-right">
                        <div class="rbt-header-content">
                            <div class="header-info">
                                <ul class="quick-access">
                                    {% if request.user.id %}
                                    <li class="access-icon rbt-user-wrapper">
                                        <a class="rbt-round-btn" href="{% url 'website:dashboard' %}">
                                            <i class="feather-user"></i>
                                        </a>
                                        
                                    </li>

                                    {% else %}
                                    
                                    <li class="access-icon rbt-user-wrapper">
                                        <a class="rbt-btn btn-white btn-sm hover-icon-reverse" href="{% url 'website:loginuser' %}">
                                            Login
                                        </a>
                                        
                                    </li>
                                    {% endif %}
                                    
                                </ul>
                            </div>

                            <div class="header-info">
                                <a class="rbt-btn  btn-gradient btn-sm hover-transform-none" href="tel:+91 8547 485416">
                                    <span data-text="Contact Us">Contact Us</span>
                                </a>
                            </div>


                            <div class="header-info d-block d-xl-none">
                                <div class="mobile-menu-bar">
                                    <div class="hamberger">
                                        <button class="hamberger-button rbt-round-btn">
                                            <i class="feather-menu"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Top -->

        <div class="rbt-header-wrapper height-50 header-space-betwween bg-color-white header-sticky">
            <div class="container-fluid">
                <div class="mainbar-row rbt-navigation-center align-items-center">
                   
                    <div class="header-center d-block d-xl-none">
                        <div class="logo logo-dark">
                            <a href="index.php">
                                <img src="{% static 'website/assets/img/logo.png' %}" >
                            </a>
                        </div>

                        <div class="logo d-none logo-light">
                            <a href="index.php">
                                <img src="{% static 'website/assets/images/dark/logo/logo-light.png' %}" >
                            </a>
                        </div>
                    </div>


                    <div class="header-right">

                        <div class="d-block d-xl-none">
                            <ul class="quick-access">
                                {% if request.user.id %}

                                 <li class="access-icon rbt-user-wrapper right-align-dropdown">
                                    <a class="rbt-round-btn" href="{% url 'website:dashboard' %}">
                                        <i class="feather-user"></i>
                                    </a>
                                    
                                </li>

                                {% else %}
                                    <li class="access-icon rbt-user-wrapper">
                                        <a class="rbt-btn btn-white btn-sm hover-icon-reverse" href="login.php">
                                            Login
                                        </a>
                                        
                                    </li>
                                {% endif %}
                                    
                               
                            </ul>
                        </div>

                        <!-- Start Mobile-Menu-Bar -->
                        <div class="mobile-menu-bar d-block d-xl-none">
                            <div class="hamberger">
                                <button class="hamberger-button rbt-round-btn ms-auto">
                                    <i class="feather-menu"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Start Mobile-Menu-Bar -->
                    </div>
                </div>
            </div>

          
        </div>
    </header>
    <!-- Mobile Menu Section -->
    <div class="popup-mobile-menu">
        <div class="inner-wrapper">
            <div class="inner-top">
                <div class="content">
                    <div class="logo">
                        <div class="logo logo-dark">
                            <a href="index.php">
                                <img src="{% static 'website/assets/img/logo.png' %}" >
                            </a>
                        </div>

                        <div class="logo d-none logo-light">
                            <a href="index.php">
                                <img src="{% static 'website/assets/images/dark/logo/logo-light.png' %}" >
                            </a>
                        </div>
                    </div>
                    <div class="rbt-btn-close">
                        <button class="close-button rbt-round-btn"><i class="feather-x"></i></button>
                    </div>
                </div>
                <p class="description">Ayuraksha is a trusted institute dedicated to preserving and promoting authentic Ayurvedic knowledge. We offer certified courses and holistic therapies rooted in ancient healing traditions.</p>
                <ul class="navbar-top-left rbt-information-list justify-content-start">
                    <li>
                        <a href="mailto:ayuraksha2021@gmail.com"><i class="feather-mail"></i>ayuraksha2021@gmail.com</a>
                    </li>
                    <li>
                        <a href="tel:+91 8547 485416"><i class="feather-phone"></i>+91 8547 485416</a>
                    </li>
                </ul>
            </div>

          
            <div class="mobile-menu-bottom">
                

                <div class="social-share-wrapper pt--20">
                    <span class="rbt-short-title d-block">Find With Us</span>
                    <ul class="social-icon social-default transparent-with-border justify-content-start mt--20">
                        <li><a href="https://www.facebook.com/">
                                <i class="feather-facebook"></i>
                            </a>
                        </li>
                        
                        <li><a href="https://www.instagram.com/">
                                <i class="feather-instagram"></i>
                            </a>
                        </li>
                        <li><a href="https://www.linkdin.com/">
                                <i class="feather-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    