{% include 'website/layouts/header.html' %}
{% load static %}
{% load custom_tags %}

  <!-- Start Banner Area -->
    <div class="rbt-banner-area rbt-banner-7 bg-gradient-1 theme-shape header-transperent-spacer">
        <div class="wrapper w-100">
            <div class="container">
                <div class="row g-5 justify-content-between align-items-center">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="content">
                            <div class="inner">
                                <div class="section-title text-start">
                                    <span class="subtitle bg-primary-opacity">Ayuraksha - Institue of Ayurveda</span>
                                </div>
                                <h1 class="title">Explore <span class="theme-gradient">  Our <br>Authentic <br> Ayurveda Courses</h1>
                                <div class="rbt-like-total">
                                    <div class="profile-share">
                                        <a href="#" class="avatar"><img src="{% static 'website/assets/images/testimonial/client-04.png' %}" alt="education"></a>
                                        <a href="#" class="avatar"><img src="{% static 'website/assets/images/testimonial/client-05.png' %}" alt="education"></a>
                                        <a href="#" class="avatar" ><img src="{% static 'website/assets/images/testimonial/client-06.png' %}" alt="education"></a>
                                        <div class="more-author-text">
                                            <h5 class="total-join-students">Join 3000+ Learners at Ayuraksha</h5>
                                            <p class="subtitle">Discover New Ayurvedic Insights Every Week.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="rbt-button-group justify-content-start mt--30">
                                    <a class="rbt-btn btn-gradient btn-sm" href="#">
                                        <span data-text="Login">Login</span>
                                    </a>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2">
                        <div class="thumbnail-wrapper">
                            <div class="thumbnail text-end">
                                <img src="{% static 'website/assets/img/mainimage1.png' %}" alt="Education Images">
                            </div>
                            <!-- <div class="card-info bounce-slide">
                                <div class="inner">
                                    <div class="name">Hillery. <span>/ USA</span></div>
                                    <div class="rating-wrapper d-block d-sm-flex">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <span>(Google Review)</span>
                                    </div>
                                </div>
                                <div class="notify-icon">
                                    <img src="{% static 'website/assets/images/testimonial/client-12.png' %}" alt="Client Images">
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area -->
    <!-- Start Card Style -->
    <div class="rbt-rbt-course-area rbt-section-gapBottom bg-color-white" id="course">
        <div class="container">
            <div class="row g-5 align-items-center mb--50">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="section-title">
                        <h2 class="title">Courses</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="load-more-btn text-start text-md-end">
                       <p>Certified Ayurveda courses in wellness, Panchakarma, and holistic healing.</p>
                    </div>
                </div>
            </div>
            <!-- Start Card Area -->
            <div class="row g-5">

                <!-- Start Single Card  -->
                 {% for i in course %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-card variation-01 rbt-hover card-list-2">
                        <div class="rbt-card-img">
                            <a href="register.php">
                                <img src="{{i.image.url}}" alt="Card image">
                            </a>
                        </div>
                        <div class="rbt-card-body">
                          

                            <h4 class="rbt-card-title"><a href="#">{{i.title}}</a>
                            </h4>

                            <ul class="rbt-meta">
                                <li><i class="feather-book"></i>{% lession_count i.id %} Lessons</li>
                              
                            </ul>

                            <p class="rbt-card-text">{{i.description}}</p>
                            
                            <div class="rbt-card-bottom">
                                <div class="rbt-price">
                                    <span class="current-price">₹ {{i.price}}</span>
                                    
                                </div>
                                <a class="rbt-btn btn-gradient btn-sm" href="{% url 'website:register' i.slug %}">Enroll Now<i class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End Single Card  -->

              
               
                <!-- End Single Card  -->

            </div>
            <!-- End Card Area -->
        </div>
    </div>
    <!-- End Card Style -->

{% include 'website/layouts/footer.html' %}
